.gym-name-nav {
    font-family: "New Century Schoolbook", Georgia, serif;
    font-size: 58px;
    font-weight: 400;
    text-shadow: 1px 3px 10px dimgray;
    box-shadow: -6px 6px 40px lightcyan;
    border: 3px solid lightblue;
    padding: 10px;
    border-radius: 20px;
}